@import url('common2.css');

/* header style */
header{
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  line-height: 100px;
  font-weight: 700;
  position: fixed;
  top: 0;
  z-index: 9999;
}
header .inner-header {
   /* border: 3px solid tomato; */
  width: 84%; 
  margin: 0 auto;
}

header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  width: 200px;

}
header .inner-header .logo img{
  width: 100%;
}
header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;  
  margin-left: 80px;
}
header .inner-header .gnb ul li {
  /* border: 3px dashed #000; */
  float: left;
  margin-right: 80px;
}
header .inner-header .gnb ul li a {
  /* background: red; */
  display: block;
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb ul li a:hover{
  color: #ff8342;
}
header .inner-header .tnb {
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb ul li {
  float: left;
  margin-right: 15px;
}
header .inner-header .tnb ul li:first-child i,
header .inner-header .tnb ul li:nth-child(2) i {
  margin-right: 8px;
  font-size: 20px;
}
header .inner-header .tnb ul li:last-child a {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 30px;
}
header .inner-header .tnb ul li:last-child a:hover {
  background: #fff;
  color: #ff8342;
}
header .inner-header .tnb ul li:last-child i {
  margin-left: 5px;
}
header .inner-header .gnb-mobile {
  display: none;
}
/* end header tyle */

/* section.main style */
section.main {
  background: url('../img/vis_4.jpg') no-repeat center/cover fixed;  
  height: 100vh;
  position: relative;
}

section.main .main-title {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 10px #123;
}
section.main .main-title h2 {
  font-size: 55px;
}
section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}
section.main .main-title .view {
  font-size: 15px;
  letter-spacing: 2px;

  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  overflow: hidden;

  position: relative;
}
section.main .main-title .view::after {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(255,255,255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition:0.3s;
  
}
section.main .main-title .view:hover::after {
  width: 100%;
}
/* section > div.title 공통 style */
section .title {
  text-align: center;
  /* border: 1px solid #000; */
}
section .title h2 {
  font-size: 45px;
  color: #111;
  margin-bottom: 5px;
}
section .title p {
  font-size: 18px;
  color: #555;
}

section .sub-container {
  /* background: tomato; */
  width: 74%;
  margin: 0 auto;
}
/* end section.main style */

/* section.about style */
section.about {
  margin: 80px 0;
}
section.about ul.sub-container {
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 30px;
}
section.about ul.sub-container li {
  /* border: 3px solid #000; */
  float: left;
  width: 33.333%;
  height: 510px;
}
section.about ul.sub-container li .img-box img:hover {
  transform: scale(1.2);
}
section.about ul.sub-container li .img-box {
  /* border: 3px solid #000; */
  overflow: hidden;
}
section.about ul.sub-container li .img-box img {
  /* opacity: 0.3; */
  width: 100%;
  transition: 0.6s;
}
section.about ul.sub-container li .text { 
  /* border: 3px solid #000; */
  padding: 25px;
}
section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}
section.about ul.sub-container li .text .more {
  /* uppercase 일괄 대문자 변경, lowercase 일괄 소문자 변경 */
  text-transform: uppercase;
  font-weight: 700;
  /* border: 2px solid #000; */
  position: relative;
  padding-left: 40px;
  
}
section.about ul.sub-container li .text .more::before {
  content:'→';
  line-height: 30px;
  display: block;
  width: 30px;
  height: 30px;
  background: #ff8342;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -7px;
}
/* end section.about style */

/* setcion innovation*/
section.innovation .img-box {
  background: url(../img/product_1.jpg) no-repeat center/cover;
  height: 500px;
  margin: 50px auto;
  position: relative;
  margin-bottom: 200px;
}
section.innovation .sub-container .inner {
  width: 80%;
  position: absolute;
  bottom: -158px;
  left: 10%;
}
section.innovation .sub-container .inner .en{
  padding: 30px;
  background: #fff;
  font-weight: 700;
  position: relative;
}
section.innovation .sub-container .inner .en::after {
  content: '←→';
  display: block;
  width: 50px;
  position: absolute;
  font-size: 30px;
  color: lightgray;
  letter-spacing: 30px;
  right: 70px;
  top: 20px;

}
section.innovation .sub-container .inner .en span {
  color: #ff8342;
  padding: 10px;
}
section.innovation .sub-container .inner .bottom {
  background: #123456;
  text-align: left;
  color: #fff;
  padding-bottom: 25px;
}
section.innovation .sub-container .inner .bottom p {
  float: left;
  padding: 40px 0;
  width: 80%;
  padding-left: 250px;
  position: relative;
  line-height: 1.7;
}
section.innovation .sub-container .inner .bottom p::before {
  content: 'CPVC';
  display: block;
  position: absolute;
  left: 40px;
  top: 35px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  
}
section.innovation .sub-container .inner .bottom a {
  background: #ff8342;
  width: 13%;
  padding: 15px;
  float: left;
  display: block;
  border-radius: 30px;
  text-align: center;
  font-weight: 700;
  margin: 45px 30px;
  transition: 0.6s;
}
section.innovation .sub-container .inner .bottom a:hover {
  background: orangered;
}
/* end section.innovation */


/* section.me */

section.me {
  background: url(../img/me.jpg) no-repeat center/cover;
  padding: 80px 0;
}
section .title .en span {
  color: #ff8342;
}
section.me .sub-container {
  /* width: 74%; */
  border-top: 4px solid #000;
  margin: 40px auto 20px;
  border-bottom: 4px solid #000;
} 
section.me .sub-container>li {
  padding: 40px;
}
section.me .sub-container>li:first-child {
  border-bottom: 1px solid lightgray;
}
section.me .sub-container li h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 30px;
}
section.me .sub-container li h3 span {
  color: orange;
  padding-right: 20px;
}
section.me .sub-container>li>p {
  padding-left: 40px;
  /* padding-bottom: 30px; */
}

section.me .sub-container>li>a {
  display: block;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 30px;
}
section.me .sub-container li a span {
  color: #ff8342;
}
section.me .sub-container li .in li {
  padding-top: 20px;
  padding-left: 40px;
  
}
section.me .sub-container li .in li em {
  float: left;
  font-weight: 700;
  padding-bottom: 10px;
  padding-right: 60px;
  position: relative;
}
section.me .sub-container li .in li em::after{
  content: '.';
  display: block;
  position: absolute;
  color: #ff8342;
  font-size: 20px;
  font-weight: 700;
  right: 30px;
  bottom: 10px;
}
section.me .sub-container li .in li p {
  float: left;
}
section.me #incruit-btn {
  background: #ff8342;
  margin: 0 auto;
  display: block;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  transition: 0.6s;
}
section.me #incruit-btn:hover {
  background: orangered;
}
/* end section.me style */
section.sns .sub-container {
  margin: 40px auto;
}
section.sns .sub-container li {
  float: left;
  margin-right: 5%;
  width: 30%;
}
section.sns .sub-container li:last-child {
  margin-right: 0;
}
section.sns .sub-container li a {
  display: block;
}
section.sns .sub-container li a .img-box {
  overflow: hidden;
  height: 375px;
  margin-bottom: 30px;
}
section.sns .sub-container li a .img-box img {
  height: 100%;
}
section.sns .sub-container li a .bottom {
  padding-left: 15px;
}

section.sns .sub-container li a .bottom .color {
  color: #ff8342;
  font-weight: 700;
  padding-bottom: 10px;
}
section.sns .sub-container li a .bottom p {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 20px;
}
section.sns .sub-container li a .bottom .time {
  font-size: 14px;
  font-weight: 300;
}
section.sns .sub-container li a .bottom .time i {
  color: lightgray;
  padding-right: 10px;
}
/* end section.sns */